.loader {
  z-index: 999;

  position: fixed;
  inset: 0;

  display: grid;
  grid-template-columns: repeat(5, 1fr);

  & .loader__text {
    position: absolute;
    color: var(--background-color);
    align-self: center;
    justify-self: center;
  }

  & .loader__bar {
    background-color: var(--foreground-color);
  }
}
