.split {
  container: split / inline-size;

  & .split__inner {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-lg);
  }

  @container split (min-width: 48rem) {
    & .split__inner {
      grid-template-columns: 2fr 1fr;

      &.split__inner--center {
        align-items: center;
      }

      &.split__inner--half {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
