.button {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-sm);
  position: relative;
  padding: var(--spacing-base) var(--spacing-lg);
  border-radius: var(--spacing-lg);
  text-decoration: none;
  overflow: hidden;
  color: var(--background-color);
  transition: color 0.25s ease;
  font-weight: 600;
  font-size: var(--font-medium);

  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: 0;
  }

  &::before {
    background-color: var(--foreground-color);
    z-index: -2;
  }

  &::after {
    background-color: var(--muted-color);
    clip-path: circle(0% at 0 150%);
    transition: clip-path 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: -1;
  }

  &:hover,
  &:focus-visible {
    color: var(--foreground-color);

    &::after {
      clip-path: circle(150% at 0 100%);
    }
  }
}
