:root {
  --black: #262625;
  --white: #f4f4f2;
  --gray: #a1a1a1;

  --xs: 0.5rem;
  --sm: 0.625rem;
  --base: 1rem;
  --md: 1.25rem;
  --lg: 2rem;
  --xl: 4rem;
  --2xl: 8rem;

  --background-color: var(--white);
  --foreground-color: var(--black);
  --muted-color: var(--gray);

  --font-sans: "PP Mori";

  --container-width: 64rem;

  --spacing-xs: var(--xs);
  --spacing-sm: var(--sm);
  --spacing-base: var(--md);
  --spacing-lg: var(--xl);
  --spacing-section: var(--2xl);

  --font-base: var(--base);
  --font-lg: var(--lg);
  --font-lead: var(--xl);
}
