:root {
  --black: #262625;
  --white: #f4f4f2;
  --gray: #a1a1a1;
  --dark-gray: #525252;
  --green: #709190;
  --blue: #7a95a4;
  --brown: #baa9a9;
  --whitish: #e9e8e4;

  --2xs: 0.1rem;
  --xs: 0.5rem;
  --sm: 0.625rem;
  --n: 0.825rem;
  --base: 1rem;
  --md: 1.25rem;
  --lg: 2rem;
  --xl: 4rem;
  --2xl: 4.375rem;
  --4xl: 8rem;

  --background-color: var(--white);
  --foreground-color: var(--black);
  --middle-color: var(--dark-gray);
  --subtle-color: var(--whitish);
  --muted-color: var(--gray);
  --accent-color: var(--green);
  --focus-color: var(--blue);

  --font-sans: "PP Mori";

  --container-width: 84rem;

  --spacing-mini: var(--2xs);
  --spacing-xs: var(--xs);
  --spacing-sm: var(--sm);
  --spacing-base: var(--md);
  --spacing-lg: var(--lg);
  --spacing-xl: var(--xl);
  --spacing-section: var(--2xl);
  --spacing-extreme: var(--4xl);

  --font-small: var(--sm);
  --font-base: var(--n);
  --font-medium: 14px;
  --font-lg: var(--base);
  --font-xl: var(--lg);
  --font-lead: var(--2xl);
}
