@import url("./abstracts/_variables.css");
@import url("./base/_reset.css");
@import url("./base/_fonts.css");
@import url("./base/_typography.css");
@import url("./components/_logo.css");
@import url("./components/_btn.css");
@import url("./components/_box.css");
@import url("./components/_marquee.css");
@import url("./components/_link.css");
@import url("./layout/_nav.css");

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: var(--container-width);
  margin-inline: auto;
  padding-inline: var(--spacing-base);

  @media screen and (min-width: 768px) {
    padding-inline: var(--spacing-lg);
  }
}
