@import url("./abstracts/_variables.css");
@import url("./base/_reset.css");
@import url("./base/_fonts.css");
@import url("./base/_typography.css");
@import url("./components/_logo.css");
@import url("./components/_btn.css");
@import url("./components/_lead.css");
@import url("./components/_box.css");
@import url("./components/_marquee.css");
@import url("./components/_link.css");
@import url("./components/_list.css");
@import url("./layout/_hero.css");
@import url("./layout/_header.css");
@import url("./layout/_loader.css");
@import url("./layout/_nav.css");
@import url("./layout/_section.css");
@import url("./layout/_split.css");
@import url("./layout/_wysiwyg.css");
@import url("./layout/_sticky-list.css");
@import url("./layout/_slide.css");

body {
  background-color: var(--background-color);
  color: var(--foreground-color);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: var(--container-width);
  margin-inline: auto;
  padding-inline: var(--spacing-base);

  @media screen and (min-width: 768px) {
    padding-inline: var(--spacing-lg);
  }
}
